.DS_Store
.idea
.svn
.nova
bin/*
!bin/archive.sh
!bin/build-plugin-zip.sh
!bin/build.sh
!bin/colors.sh
!bin/install-wp-tests.sh
!bin/package.sh
!bin/phpcsfiles.sh
!bin/release.sh
!bin/update-version.sh
node_modules/
release/
.vscode
.env*
!.env.example
/phpcs.xml
/phpspec.yml
/phpunit.xml
.phpunit*

# Ignore the beta version.
.betaversion

