@import '../tailwind.scss';
@import '../style/l10n.scss';
@import '../style/loading.scss';

/* no-prefix */
#comment-converter-app.comment-converter-app {
	width: -webkit-fill-available;
	max-width: none;
	padding: 0 10%;
}

/* no-prefix */
#comment-converter-app.comment-converter-app > .ccvtr-loading {
	margin-top: 26px;
}
