.ccvtr-loading {
	display: flex;
	align-items: center;
	justify-content: center;

	svg {
		max-width: 150px;
		width: 150px;
		height: 150px;
		color: #858b98;

		.spin {
			animation: 1s linear infinite circle-animation;
			display: block;
			transform-origin: 50% 50%;
		}
	}
}

@keyframes circle-animation {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(-360deg);
	}
}
